header {
  position: absolute;
  width: 100%;
  z-index: 100;
  transition: 0.5s all;
  .big-size-container {
    height: 66px;
    .row {
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          text-align: center;
        }
      }
      nav {
        text-align: center;
        ul {
          position: relative;
          li {
            margin-left: 35px;
            .li_a {
              font-size: 18px;
              color: #fff;
              z-index: 1;
              &:hover {
                color: #b4afaf;
              }
            }
            .accesories-menu {
              overflow: hidden;
              position: absolute;
              top: 34px;
              background-color: rgb(252, 252, 252);
              height: 0;
              transition: 0.3s all;
              .menu {
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                  sans-serif;
                h5 {
                  cursor: pointer;
                }
                .accesories_menu_ul {
                  text-align: center;
                  li {
                    cursor: pointer;
                    &:hover {
                      color: gray;
                    }
                  }
                }
              }
            }
            .accesories-menu.active {
             height: 170px;
             z-index: 9;
            }
            .drone-menu {
              overflow: hidden;
              position: absolute;
              background-color: rgb(255, 255, 255);
              top: 34px;
              left: 50px;
             height: 0;
              transition: 0.3s all;
              .menu {
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                  sans-serif;
                h5 {
                  cursor: pointer;
                }
                ul {
                  li {
                    padding: 2px;
                    cursor: pointer;
                    &:hover {
                      color: gray;
                    }
                  }
                }
              }
            }

            .drone-menu.active {
             height: 170px;
             z-index: 9;
            }
          }
        }
      }
      .icons {
        .icon {
          color: white;
          font-size: 26px;
          margin-left: 20px;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            color: black;
            transition: 0.5s;
          }
        }
        .count {
          color: white;
          width: 16px;
          height: 16px;
          text-align: center;
          display: inline-block;
          background-color: red;
          border-radius: 50%;
          position: relative;
          right: 9px;
          bottom: 10px;
        }
        .box {
          height: 100vh;
          width: 0px;
          position: absolute;
          top: 0px;
          right: 0;
          margin: 0 auto;
          background-color: white;
          transition: 1s;
          z-index: 1;
          overflow: auto;
          .device_box {
            height: 62%;
            overflow: auto;
            .box_device {
              li {
                border-bottom: 1px solid rgb(167, 164, 164);
                list-style: none;
                .cart_image {
                  border-right: 1px solid rgb(192, 188, 188);
                  img {
                    width: 100px;
                    height: 100px;
                    object-fit: contain;
                  }
                }
                .info {
                  padding: 20px;
                  p {
                    margin-top: 20px;
                    font-size: 16px;
                  }
                  span{
                    font-size: 14px;
                  }
                }
                .cart-sticky {
                  position: fixed;
                  background: #fff;
                  z-index: 99;
                  .exitbutton {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 0 15px;
                    border-bottom: 1px solid #eee;
                    margin-bottom: 5px;
                  }
                }
              }
            }
          }
          .cart_button_x {
            position: fixed;
            background: #fff;
            display: contents;
            z-index: 99;
          }
          .cart_bottom {
            border-top: 1px solid rgb(182, 170, 170);
            li {
              display: flex;
              justify-content: space-between;
              margin: 10px;
              span {
                font-weight: 700;
              }
            }
            .buttons {
              width: 100%;
              padding: 10px 0;
              display: flex;
              justify-content: space-between;
              align-items: center;
              button {
                font-size: 14px;
                height: 40px;
                width: 49%;
                border: none;
                background-color: #eb4d50;
                color: white;
                transition: 0.5s;
                &:hover {
                  background-color: #232323;
                }
                &:nth-child(2) {
                  background-color: #232323;
                }
                &:nth-child(2):hover {
                  background-color: #eb4d50;
                }
              }
            }
          }
        }
        .box.active {
          width: 350px;
        }
      }
    }
    .search_input_large {
      width: 100%;
      visibility: hidden;
      opacity: 0;
      position: relative;
      top: 70%;
      right: 5%;
      transition: 0.3s all;
      .input_div {
        position: absolute;
        right: 0;
      }

      .icon_search {
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }
    .search_input_large.active {
      visibility: visible;
      opacity: 1;
    }
    .user_registration {
      width: 35%;
      top: 71%;
      right: 8%;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      height: max-content;
      background-color: rgb(255, 255, 255);
      padding: 0px 30px;
      transition: 0.3s all;
      .language {
        line-height: 0;
        .image {
          margin-bottom: 10px;
        }
      }
    }
    .user_registration.active {
      visibility: visible;
      opacity: 1;
    }
  }

  .mobile-container {
    background-color: white;
    height: 66px;
    .row {
      .search_input {
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 50px;
        left: 50px;
        transition: 0.3s all;
        .icon_search {
          position: absolute;
          top: 0px;
          right: 3px;
        }
      }
      .search_input.active {
        visibility: visible;
        opacity: 1;
      }
      .user_mobile_registration {
        text-align: start;
        top: 7%;
        right: 0;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        height: max-content;
        background-color: rgb(255, 255, 255);
        padding: 0px 30px;
        transition: 0.3s all;
        .language {
          line-height: 0;
          .image {
            margin-bottom: 10px;
          }
        }
      }
      .user_mobile_registration.active {
        visibility: visible;
        opacity: 1;
      }
      .count {
        color: white;
        width: 16px;
        height: 16px;
        text-align: center;
        display: inline-block;
        background-color: red;
        border-radius: 50%;
        position: relative;
        right: -1px;
        bottom: 29px;
      }
      .box {
        height: 100vh;
        width: 0px;
        position: absolute;
        top: 0px;
        right: 0;
        margin: 0 auto;
        background-color: white;
        transition: 1s;
        z-index: 1;
        overflow: auto;
        .device_box {
          height: 62%;
          overflow: auto;
          .box_device {
            li {
              border-bottom: 1px solid rgb(167, 164, 164);
              list-style: none;
              .cart_image {
                border-right: 1px solid rgb(192, 188, 188);
                img {
                  width: 100px;
                  height: 100px;
                  object-fit: contain;
                }
              }
              .info {
                padding: 20px;
                p {
                  font-size: 12px;
                }
              }
              .cart-sticky {
                position: fixed;
                background: #fff;
                z-index: 99;
                .exitbutton {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding: 5px 0 15px;
                  border-bottom: 1px solid #eee;
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
        .cart_button_x {
          position: fixed;
          background: #fff;
          display: contents;
          z-index: 99;
        }
        .cart_bottom {
          border-top: 1px solid rgb(182, 170, 170);
          li {
            display: flex;
            justify-content: space-between;
            margin: 10px;
            span {
              font-weight: 700;
            }
          }
          .buttons {
            width: 100%;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
              font-size: 14px;
              height: 40px;
              width: 49%;
              border: none;
              background-color: #eb4d50;
              color: white;
              transition: 0.5s;
              &:hover {
                background-color: #232323;
              }
              &:nth-child(2) {
                background-color: #232323;
              }
              &:nth-child(2):hover {
                background-color: #eb4d50;
              }
            }
          }
        }
      }
      .box.active {
        width: 350px;
      }
    }
  }
  .mobile-menu {
    overflow: hidden;
    position: relative;
    top: 0%;
    background-color: rgb(255, 255, 255);
    width: 0px;
    height: 100vh;
    transition: 1s all;
    z-index: 100;
    ul {
      padding: 10px;
      li {
        padding: 10px;
        a {
          color: black;
          i.active {
            transform: rotate(180deg);
          }
        }
      }
      .acs-icon {
        display: none;
      }
      .acs-icon.active {
        display: block;
      }
      .drone-icon {
        display: none;
      }
      .drone-icon.active {
        display: block;
      }
    }
  }

  .mobile-menu.active {
    width: 200px;
  }
}
