@import "./header";
@import "./footer";
@import "./clipboard";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#registration {
  padding-top: 30px;
  padding-bottom: 30px;
  .alert {
    .warning {
      padding: 10px;
      text-align: center;
      color: gray;
      a {
        cursor: pointer;
        color:#232323;;
        &:hover {
          color: #eb4d4b;
        }
      }
    }
  }
  form {
    .registr_detail {
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .registr_detail_btn {
        border: 1px solid #232323;
        background-color: #232323;
        transition: 0.8s;
        &:hover {
          background-color: #eb4d4b;
        }
      }

      input {
        width:100%;
        height: 30px;
         border: 1px solid rgb(241, 238, 238);
        &::placeholder {
          padding: 5px 10px;
          font-size: 14px;
        }
      }
      .radio {
        width: 15px;
        height: 15px;
        padding: 0;
      }
      .import {
        font-weight: 600;
        width: 25%;
        sup {
          color: red;
          font-size: 16px;
          margin-right: 5px;
          position: relative;
          top: 2px;
        }
      }

    }
    .title{
      h5 {
        border-bottom: 1px solid gray;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

