header {
    position: absolute;
    width: 100%;
    z-index: 100;
    transition: 0.5s all;
    .big-size-container {
      height: 66px;
      .row {
        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            text-align: center;
          }
        }
        nav {
          text-align: center;
          ul {
            position: relative;
            li {
              margin-left: 35px;
              .li_a {
                font-size: 18px;
                color: #fff;
                z-index: 1;
                &:hover {
                  color: #b4afaf;
                }
              }
              .accesories-menu {
                overflow: hidden;
                position: absolute;
                top: 34px;
                background-color: rgb(252, 252, 252);
                visibility: hidden;
                transition: 0.2s all;
                .menu {
                  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                    sans-serif;
                  h5 {
                    cursor: pointer;
                  }
                  .accesories_menu_ul {
                    text-align: center;
                    li {
                      cursor: pointer;
                      &:hover {
                        color: gray;
                      }
                    }
                  }
                }
              }
              .accesories-menu.active {
                visibility: visible;
              }
              .drone-menu {
                overflow: hidden;
                position: absolute;
                background-color: rgb(255, 255, 255);
                top: 34px;
                left: 50px;
                visibility: hidden;
                transition: 0.2s all;
                .menu {
                  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                    sans-serif;
                  h5 {
                    cursor: pointer;
                  }
                  ul {
                    li {
                      padding: 2px;
                      cursor: pointer;
                      &:hover {
                        color: gray;
                      }
                    }
                  }
                }
              }
  
              .drone-menu.active {
                visibility: visible;
              }
            }
          }
        }
        .icons {
          .icon {
            color: white;
            font-size: 26px;
            margin-left: 20px;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              color: black;
              transition: 0.5s;
            }
          }
          .count {
            color: white;
            width: 16px;
            height: 16px;
            text-align: center;
            display: inline-block;
            background-color: red;
            border-radius: 50%;
            position: relative;
            right: 9px;
            bottom: 10px;
          }
          .box {
            height: 100vh;
            width: 0px;
            position: absolute;
            top: 0px;
            right: 0;
            margin: 0 auto;
            background-color: white;
            transition: 1s;
            z-index: 1;
            overflow: hidden;
  
          
  
            .box_device {
              li {
                border-bottom: 1px solid black;
                padding: 15px;
                display: flex;
                list-style: none;
                .cart_image {
                  width: 90px;
                  height: 120px;
                  border-right: 1px solid black;
                  img {
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }
                .info {
                  padding: 20px;
                  margin-left: 25px;
                }
                .exitbutton {
                  position: absolute;
                  right: 12px;
                  font-size: 13px;
                  cursor: pointer;
                }
              }
            }
            .cart_button_x {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 5px 0 15px;
              border-bottom: 1px solid #eee;
              margin-bottom: 5px;
            }
          }
        }
        .box.active {
          width: 350px;
        }
      }
      .search_input_large {
        width: 100%;
        visibility: hidden;
        opacity: 0;
        position: relative;
        top: 70%;
        right: 5%;
        transition: 0.3s all;
        .input_div{
          position: absolute;
          right: 0;
        }
  
        .icon_search {
          position: absolute;
          top: 0px;
          right: 0px;
        }
      }
      .search_input_large.active {
        visibility: visible;
        opacity: 1;
      }
      .user_registration {
        width: 35%;
        top: 71%;
        right: 8%;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        height: max-content;
        background-color: rgb(255, 255, 255);
        padding: 0px 30px;
        transition: 0.3s all;
        .language {
          line-height: 0;
          .image {
            margin-bottom: 10px;
          }
        }
      }
      .user_registration.active {
        visibility: visible;
        opacity: 1;
      }
    }
  
    .mobile-container {
      background-color: white;
      height: 66px;
      .row {
        .search_input {
          overflow: hidden;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 50px;
          left: 50px;
          transition: 0.3s all;
          .icon_search {
            position: absolute;
            top: 0px;
            right: 3px;
          }
        }
        .search_input.active {
          visibility: visible;
          opacity: 1;
        }
        .user_mobile_registration {
          text-align: start;
          top: 7%;
          right: 0;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          height: max-content;
          background-color: rgb(255, 255, 255);
          padding: 0px 30px;
          transition: 0.3s all;
          .language {
            line-height: 0;
            .image {
              margin-bottom: 10px;
            }
          }
        }
        .user_mobile_registration.active {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .mobile-menu {
      overflow: hidden;
      position: relative;
      top: 0%;
      background-color: rgb(255, 255, 255);
      width: 0px;
      height: 100vh;
      transition: 1s all;
      z-index: 100;
      ul {
        padding: 10px;
        li {
          padding: 10px;
          a {
            color: black;
            i.active {
              transform: rotate(180deg);
            }
          }
        }
        .acs-icon {
          display: none;
        }
        .acs-icon.active {
          display: block;
        }
        .drone-icon {
          display: none;
        }
        .drone-icon.active {
          display: block;
        }
      }
    }
    
    .mobile-menu.active {
      width: 200px;
    }
  
  }

  #clipboard {
    .clipboard_background {
      background-image: url(../images/breadcrumb.png);
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        li {
          font-size: 14px;
          a {
            transition: 0.5s;
            color: #232323;
            &::after{
              content: " ";
              display: inline;
              border-right: 1px solid #232323;
              margin-left: 5px;
              margin-right: 5px;
            }
          
            &:hover {
              color: #eb4d4b;
            }
          }
        }
      }
    }
  }

#login {
    padding-top: 50px;
    padding-bottom: 50px;
    .container {
        .row {
            .registr {
                border: 0.8px solid #e9e9e9;
                border-radius: 5px;
                width: 100%;
                height: 240px;
                padding: 15px;
                span {
                    font-size: 16px;
                    display: block;
                    color: black;
                    padding-top: 3px;
                    padding-bottom: 10px;
                }
                p {
                    font-size: 13px;
                    color: #333;
                }
                .reg_btn {
                    transition: .8s;
                    background-color: #333;
                    color: white;
                    border-color: #333;
                    border-radius: 0;
                    font-family: 'Poppins', sans-serif;
                    &:hover {
                        background-color: #eb4d4b;
                        border-color: #eb4d4b;
                        font-family: 'Poppins', sans-serif;
                    }
                }
            }
            .login {
                border: 0.8px solid #e9e9e9;
                border-radius: 5px;
                width: 100%;
                height: 305px;
                padding: 15px;
                .text {
                    p {
                      font-weight:700;
                      line-height: 0px;
                        font-size: 16px;
                        color: #333;
                        padding-top: 3px;
                        padding-bottom: 10px;
                    }
                }
                .inputs {
                    .email {
                        label {
                            font-size: 14px;
                            color: #333;
                            padding-bottom: 5px;
                        }
                        input {
                            width: 100%;
                            border-color: #c2c2c2;
                            border-width: 1px;

                            &::placeholder {
                                color: #c2c2c2;
                                font-size: 14px;
                                padding: 6px;
                            }
                        }
                    }
                    .password {
                        label {
                            font-size: 14px;
                            padding-bottom: 5px;
                            color: #333;
                        }
                        input {
                            width: 100%;
                            border-color: #c2c2c2;
                            border-width: 1px;

                            &::placeholder {
                                color: #c2c2c2;
                                font-size: 14px;
                                padding: 6px;
                            }
                        }
                    }
                }
                .pass {
                    span {
                        display: block;
                        a {
                            font-size: 14px;
                            transition: 0.8s;
                            text-decoration: none;
                            color: #232323;

                            &:hover {
                                color: #eb4d4b;
                            }
                        }
                    }
                    .login_button {
                        width: 24%;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        transition: .8s;
                        background-color: #333;
                        color: white;
                        border-color: #333;
                        border-radius: 0;

                        &:hover {
                            background-color: #eb4d4b;
                            border-color: #eb4d4b;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: rgb(242, 246, 249);
    padding: 65px 0 0 0;
    .contact {
      padding: 40px 20px;
      border: 1px solid rgba(102, 102, 102, 0.15);
      text-align: center;
      .footer_contact {
        font-weight: 500;
        font-size: 16px;
        color: #eb4d4b;
        letter-spacing: 6px;
        font-family: "Poppins", sans-serif;
      }
      h2 {
        font-size: 42px;
      }
      p {
        margin-bottom: 28px;
        width: 80px;
        height: 4px;
        background-color: #eb4d4b;
        text-align: center;
        display: inline-block;
        font-family: "Poppins", sans-serif;
      }
      form {
        .right {
          text-align: center;
          margin-right: 45px;
          display: inline-block;
          width: 46%;
          height: 45px;
          margin-bottom: 37px;
          border-radius: 15px;
          border: none;
        }
      }
      .left {
        text-align: center;
        display: inline-block;
        width: 44%;
        height: 45px;
        border-radius: 15px;
        border: none;
        &::placeholder {
          padding: 10px 8px;
          font-family: "Poppins", sans-serif;
        }
      }
      .form_text {
        margin-top: 20px;
        border: none;
        width: 100%;
        border-radius: 15px;
        height: 140px;
        &::placeholder {
          padding: 10px 16px;
          font-family: "Poppins", sans-serif;
        }
      }
      .message {
        width: 24%;
        margin: 15px 0 0 0;
        border: none;
        border-radius: 30px;
        height: 50px;
        font-size: 14px;
        font-weight: 400;
        background-color: #eb4d4b;
        padding-top: 4px;
        font-family: "Poppins", sans-serif;
        transition: 0.5s;
        &:hover {
          background-color: black;
        }
      }
    }
  
    .subs {
      padding: 42px 21px;
      border: 1px solid rgba(102, 102, 102, 0.15);
      text-align: center;
      .text {
        .subs_span {
          font-weight: 500;
          font-size: 16px;
          color: #eb4d4b;
        }
        h2 {
          font-size: 42px;
          font-family: "Poppins", sans-serif;
          font-weight: 700;
        }
        .other {
          margin-top: 10px;
          margin-bottom: 20px;
          width: 80px;
          height: 4px;
          background-color: #eb4d4b;
          text-align: center;
          display: inline-block;
          font-family: "Poppins", sans-serif;
        }
      }
      .icon_text_ {
        line-height: 30px;
        i {
          font-size: 50px;
          color: #eb4d4b;
        }
        h2 {
          margin-top: 10px;
          font-size: 22px;
          font-weight: 600;
          font-family: "Poppins", sans-serif;
        }
        p {
          font-size: 16px;
          color: #666;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
      }
      .input_email {
        position: relative;
        .email {
          height: 50px;
          border-radius: 30px;
          border: 1px solid #e5e5e5;
          width: 80%;
  
          &::placeholder {
            padding: 10px;
          }
        }
        .subs_btn {
          position: absolute;
          right: 54px;
          top: 0px;
          background-color: #eb4d4b;
          border-radius: 41px;
          width: 22%;
          height: 49px;
          color: white;
        }
      }
      .icons_social {
        ul {
          margin-top: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
  
          li {
            margin-left: 10px;
            list-style-type: none;
  
            a {
              margin-left: 5px;
              text-decoration: none;
              .icons{
                width: 50px;
                height: 50px;
                img{
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  &:hover{
                    color: #eb4d4b;
                  }
                }
               
              }
              
            }
          }
        }
      }
    }
    @media only screen and (max-width: 391px) {
      .contact {
        padding: 40px 20px;
        border: 1px solid rgba(102, 102, 102, 0.15);
        text-align: center;
        span {
          font-weight: 500;
          font-size: 16px;
          color: #eb4d4b;
          letter-spacing: 6px;
          font-family: "Poppins", sans-serif;
        }
        h2 {
          font-size: 42px;
          font-family: "Poppins", sans-serif;
          font-weight: 700;
        }
        p {
          margin-bottom: 28px;
          width: 80px;
          height: 4px;
          background-color: #eb4d4b;
          text-align: center;
          display: inline-block;
          font-family: "Poppins", sans-serif;
        }
        form {
          input {
            display: inline-block;
            width: 44%;
            height: 45px;
            border-radius: 15px;
            border: none;
            &::placeholder {
              padding: 10px 8px;
              font-family: "Poppins", sans-serif;
            }
          }
          .leftInp {
            margin-left: 32px;
          }
          textarea {
            margin-top: 20px;
            border: none;
            width: 100%;
            border-radius: 15px;
            height: 140px;
            &::placeholder {
              padding: 10px 16px;
              font-family: "Poppins", sans-serif;
            }
          }
          .button {
            width: 41%;
            margin: 15px 0 0 0;
            border: none;
            border-radius: 30px;
            height: 50px;
            font-size: 14px;
            font-weight: 400;
            background-color: #eb4d4b;
            padding-top: 14px;
            font-family: "Poppins", sans-serif;
            transition: 0.5s;
            &:hover {
              background-color: black;
            }
          }
        }
      }
      .subscrib {
        padding: 30px 10px 30px;
        border: 1px solid rgba(102, 102, 102, 0.15);
        text-align: center;
        .text {
          span {
            font-weight: 500;
            font-size: 16px;
            color: #eb4d4b;
            letter-spacing: 6px;
            font-family: "Poppins", sans-serif;
          }
          h2 {
            font-size: 42px;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
          }
          p {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 80px;
            height: 4px;
            background-color: #eb4d4b;
            text-align: center;
            display: inline-block;
            font-family: "Poppins", sans-serif;
          }
        }
        .icon-text {
          line-height: 30px;
          i {
            font-size: 50px;
            color: #eb4d4b;
          }
          h2 {
            margin-top: 10px;
            font-size: 22px;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
          }
          p {
            font-size: 16px;
            color: #666;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
          }
        }
        .inp {
          position: relative;
          input {
            height: 50px;
            border-radius: 30px;
            border: 1px solid #e5e5e5;
            width: 80%;
  
            &::placeholder {
              padding: 10px;
            }
          }
          .button {
            position: absolute;
            right: 39px;
            top: 4px;
            background-color: #eb4d4b;
            border-radius: 41px;
            width: 28%;
            height: 42px;
            color: white;
          }
        }
      }
    }
    .footer_text_ {
      padding-bottom: 33px;
      position: relative;
      top: 20px;
      font-size: 15px;
      .footer_text_up,
      .footer_text_down {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          list-style-type: none;
          margin-right: 20px;
  
          a {
            text-decoration: none;
            color: gray;
            font-family: "Poppins", sans-serif;
          }
        }
        .line {
          width: 1px;
          height: 15px;
          background-color: gray;
          position: relative;
          right: 10px;
        }
      }
    }
    .footer_end_ {
      display: none;
      .accordion {
        .accordion-item {
          .first_accordion {
            .accordion_body {
              .accordion_ul {
                padding: 0;
                li {
                  list-style-type: none;
                  a {
                    text-decoration: none;
                    color: gray;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width: 820px) {
      .text {
        display: none;
        padding-bottom: 33px;
        position: relative;
        top: 20px;
        font-size: 15px;
  
        .textUp,
        .textDown {
          display: flex;
          justify-content: center;
          align-items: center;
  
          li {
            list-style-type: none;
            margin-right: 20px;
  
            a {
              text-decoration: none;
              color: gray;
              font-family: "Poppins", sans-serif;
            }
          }
          .line {
            width: 1px;
            height: 15px;
            background-color: gray;
            position: relative;
            right: 10px;
          }
        }
      }
      .accMd {
        padding-bottom: 15px;
        display: block;
        .accordion {
          .accordion-item {
            .accordion-header {
              .accordion-button {
                background-color: rgb(242, 246, 249);
              }
            }
            .firstAcc {
              .accBody {
                background-color: rgb(242, 246, 249);
                ul {
                  padding: 0;
                  li {
                    list-style-type: none;
                    a {
                      text-decoration: none;
                      color: gray;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .secondFooter {
      background-color: #151515;
      .box {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .text-img {
          p {
            color: white;
  
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
      @media only screen and (max-width: 820px) {
      }
      @media only screen and (max-width: 391px) {
        .box {
          padding-top: 10px;
          padding-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
  
          .text-img {
            p {
              color: white;
  
              a {
                text-decoration: none;
                color: white;
              }
            }
          }
        }
      }
    }
  }
  