header {
  position: absolute;
  width: 100%;
  z-index: 100;
  transition: 0.5s all;
}
header .big-size-container {
  height: 66px;
}
header .big-size-container .row .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .big-size-container .row .logo img {
  text-align: center;
}
header .big-size-container .row nav {
  text-align: center;
}
header .big-size-container .row nav ul {
  position: relative;
}
header .big-size-container .row nav ul li {
  margin-left: 35px;
}
header .big-size-container .row nav ul li .li_a {
  font-size: 18px;
  color: #fff;
  z-index: 1;
}
header .big-size-container .row nav ul li .li_a:hover {
  color: #b4afaf;
}
header .big-size-container .row nav ul li .accesories-menu {
  overflow: hidden;
  position: absolute;
  top: 34px;
  background-color: rgb(252, 252, 252);
  visibility: hidden;
  transition: 0.2s all;
}
header .big-size-container .row nav ul li .accesories-menu .menu {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header .big-size-container .row nav ul li .accesories-menu .menu h5 {
  cursor: pointer;
}
header .big-size-container .row nav ul li .accesories-menu .menu .accesories_menu_ul {
  text-align: center;
}
header .big-size-container .row nav ul li .accesories-menu .menu .accesories_menu_ul li {
  cursor: pointer;
}
header .big-size-container .row nav ul li .accesories-menu .menu .accesories_menu_ul li:hover {
  color: gray;
}
header .big-size-container .row nav ul li .accesories-menu.active {
  visibility: visible;
}
header .big-size-container .row nav ul li .drone-menu {
  overflow: hidden;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 34px;
  left: 50px;
  visibility: hidden;
  transition: 0.2s all;
}
header .big-size-container .row nav ul li .drone-menu .menu {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header .big-size-container .row nav ul li .drone-menu .menu h5 {
  cursor: pointer;
}
header .big-size-container .row nav ul li .drone-menu .menu ul li {
  padding: 2px;
  cursor: pointer;
}
header .big-size-container .row nav ul li .drone-menu .menu ul li:hover {
  color: gray;
}
header .big-size-container .row nav ul li .drone-menu.active {
  visibility: visible;
}
header .big-size-container .row .icons .icon {
  color: white;
  font-size: 26px;
  margin-left: 20px;
  transition: 0.5s;
  cursor: pointer;
}
header .big-size-container .row .icons .icon:hover {
  color: black;
  transition: 0.5s;
}
header .big-size-container .row .icons .count {
  color: white;
  width: 16px;
  height: 16px;
  text-align: center;
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  position: relative;
  right: 9px;
  bottom: 10px;
}
header .big-size-container .row .icons .box {
  height: 100vh;
  width: 0px;
  position: absolute;
  top: 0px;
  right: 0;
  margin: 0 auto;
  background-color: white;
  transition: 1s;
  z-index: 1;
  overflow: auto;
}
header .big-size-container .row .icons .box .device_box {
  height: 62%;
  overflow: auto;
}
header .big-size-container .row .icons .box .device_box .box_device li {
  border-bottom: 1px solid rgb(167, 164, 164);
  list-style: none;
}
header .big-size-container .row .icons .box .device_box .box_device li .cart_image {
  border-right: 1px solid rgb(192, 188, 188);
}
header .big-size-container .row .icons .box .device_box .box_device li .cart_image img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .big-size-container .row .icons .box .device_box .box_device li .info {
  padding: 20px;
}
header .big-size-container .row .icons .box .device_box .box_device li .info p {
  font-size: 12px;
}
header .big-size-container .row .icons .box .device_box .box_device li .cart-sticky {
  position: fixed;
  background: #fff;
  z-index: 99;
}
header .big-size-container .row .icons .box .device_box .box_device li .cart-sticky .exitbutton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}
header .big-size-container .row .icons .box .cart_button_x {
  position: fixed;
  background: #fff;
  display: contents;
  z-index: 99;
}
header .big-size-container .row .icons .box .cart_bottom {
  border-top: 1px solid rgb(182, 170, 170);
}
header .big-size-container .row .icons .box .cart_bottom li {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
header .big-size-container .row .icons .box .cart_bottom li span {
  font-weight: 700;
}
header .big-size-container .row .icons .box .cart_bottom .buttons {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .big-size-container .row .icons .box .cart_bottom .buttons button {
  font-size: 14px;
  height: 40px;
  width: 49%;
  border: none;
  background-color: #eb4d50;
  color: white;
  transition: 0.5s;
}
header .big-size-container .row .icons .box .cart_bottom .buttons button:hover {
  background-color: #232323;
}
header .big-size-container .row .icons .box .cart_bottom .buttons button:nth-child(2) {
  background-color: #232323;
}
header .big-size-container .row .icons .box .cart_bottom .buttons button:nth-child(2):hover {
  background-color: #eb4d50;
}
header .big-size-container .row .icons .box.active {
  width: 350px;
}
header .big-size-container .search_input_large {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  position: relative;
  top: 70%;
  right: 5%;
  transition: 0.3s all;
}
header .big-size-container .search_input_large .input_div {
  position: absolute;
  right: 0;
}
header .big-size-container .search_input_large .icon_search {
  position: absolute;
  top: 0px;
  right: 0px;
}
header .big-size-container .search_input_large.active {
  visibility: visible;
  opacity: 1;
}
header .big-size-container .user_registration {
  width: 35%;
  top: 71%;
  right: 8%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: -moz-max-content;
  height: max-content;
  background-color: rgb(255, 255, 255);
  padding: 0px 30px;
  transition: 0.3s all;
}
header .big-size-container .user_registration .language {
  line-height: 0;
}
header .big-size-container .user_registration .language .image {
  margin-bottom: 10px;
}
header .big-size-container .user_registration.active {
  visibility: visible;
  opacity: 1;
}
header .mobile-container {
  background-color: white;
  height: 66px;
}
header .mobile-container .row .search_input {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 50px;
  transition: 0.3s all;
}
header .mobile-container .row .search_input .icon_search {
  position: absolute;
  top: 0px;
  right: 3px;
}
header .mobile-container .row .search_input.active {
  visibility: visible;
  opacity: 1;
}
header .mobile-container .row .user_mobile_registration {
  text-align: start;
  top: 7%;
  right: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: -moz-max-content;
  height: max-content;
  background-color: rgb(255, 255, 255);
  padding: 0px 30px;
  transition: 0.3s all;
}
header .mobile-container .row .user_mobile_registration .language {
  line-height: 0;
}
header .mobile-container .row .user_mobile_registration .language .image {
  margin-bottom: 10px;
}
header .mobile-container .row .user_mobile_registration.active {
  visibility: visible;
  opacity: 1;
}
header .mobile-menu {
  overflow: hidden;
  position: relative;
  top: 0%;
  background-color: rgb(255, 255, 255);
  width: 0px;
  height: 100vh;
  transition: 1s all;
  z-index: 100;
}
header .mobile-menu ul {
  padding: 10px;
}
header .mobile-menu ul li {
  padding: 10px;
}
header .mobile-menu ul li a {
  color: black;
}
header .mobile-menu ul li a i.active {
  transform: rotate(180deg);
}
header .mobile-menu ul .acs-icon {
  display: none;
}
header .mobile-menu ul .acs-icon.active {
  display: block;
}
header .mobile-menu ul .drone-icon {
  display: none;
}
header .mobile-menu ul .drone-icon.active {
  display: block;
}
header .mobile-menu.active {
  width: 200px;
}

footer {
  background-color: rgb(242, 246, 249);
  padding: 65px 0 0 0;
}
footer .contact {
  padding: 40px 20px;
  border: 1px solid rgba(102, 102, 102, 0.15);
  text-align: center;
}
footer .contact .footer_contact {
  font-weight: 500;
  font-size: 16px;
  color: #eb4d4b;
  letter-spacing: 6px;
}
footer .contact h2 {
  font-size: 42px;
}
footer .contact p {
  margin-bottom: 28px;
  width: 80px;
  height: 4px;
  background-color: #eb4d4b;
  text-align: center;
  display: inline-block;
}
footer .contact form .right {
  text-align: center;
  display: inline-block;
  width: 46%;
  height: 45px;
  margin-bottom: 37px;
  border-radius: 15px;
  border: none;
}
footer .contact .left {
  text-align: center;
  display: inline-block;
  width: 44%;
  height: 45px;
  border-radius: 15px;
  border: none;
}
footer .contact .left::-moz-placeholder {
  padding: 10px 8px;
}
footer .contact .left::placeholder {
  padding: 10px 8px;
}
footer .contact .form_text {
  margin-top: 20px;
  border: none;
  width: 92%;
  border-radius: 15px;
  height: 140px;
}
footer .contact .form_text::-moz-placeholder {
  padding: 10px 16px;
}
footer .contact .form_text::placeholder {
  padding: 10px 16px;
}
footer .contact .message {
  width: 24%;
  margin: 15px 0 0 0;
  border: none;
  border-radius: 30px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  background-color: #eb4d4b;
  padding-top: 4px;
  transition: 0.5s;
}
footer .contact .message:hover {
  background-color: black;
}
footer .subs {
  padding: 42px 21px;
  border: 1px solid rgba(102, 102, 102, 0.15);
  text-align: center;
}
footer .subs .text .subs_span {
  font-weight: 500;
  font-size: 16px;
  color: #eb4d4b;
}
footer .subs .text h2 {
  font-size: 42px;
  font-weight: 700;
}
footer .subs .text .other {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80px;
  height: 4px;
  background-color: #eb4d4b;
  text-align: center;
  display: inline-block;
}
footer .subs .icon_text_ {
  line-height: 30px;
}
footer .subs .icon_text_ i {
  font-size: 50px;
  color: #eb4d4b;
}
footer .subs .icon_text_ h2 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
}
footer .subs .icon_text_ p {
  font-size: 16px;
  color: #666;
  font-weight: 400;
}
footer .subs .input_email {
  position: relative;
}
footer .subs .input_email .email {
  height: 50px;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  width: 80%;
}
footer .subs .input_email .email::-moz-placeholder {
  padding: 10px;
}
footer .subs .input_email .email::placeholder {
  padding: 10px;
}
footer .subs .input_email .subs_btn {
  position: absolute;
  right: 54px;
  top: 0px;
  background-color: #eb4d4b;
  border-radius: 41px;
  width: 22%;
  height: 49px;
  color: white;
}
footer .subs .icons_social ul {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .subs .icons_social ul li {
  margin-left: 10px;
  list-style-type: none;
}
footer .subs .icons_social ul li a {
  margin-left: 5px;
  text-decoration: none;
}
footer .subs .icons_social ul li a .icons {
  width: 50px;
  height: 50px;
}
footer .subs .icons_social ul li a .icons img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
footer .subs .icons_social ul li a .icons img:hover {
  color: #eb4d4b;
}
@media only screen and (max-width: 391px) {
  footer .contact {
    padding: 40px 20px;
    border: 1px solid rgba(102, 102, 102, 0.15);
    text-align: center;
  }
  footer .contact span {
    font-weight: 500;
    font-size: 16px;
    color: #eb4d4b;
    letter-spacing: 6px;
  }
  footer .contact h2 {
    font-size: 42px;
    font-weight: 700;
  }
  footer .contact p {
    margin-bottom: 28px;
    width: 80px;
    height: 4px;
    background-color: #eb4d4b;
    text-align: center;
    display: inline-block;
  }
  footer .contact form input {
    display: inline-block;
    width: 44%;
    height: 45px;
    border-radius: 15px;
    border: none;
  }
  footer .contact form input::-moz-placeholder {
    padding: 10px 8px;
  }
  footer .contact form input::placeholder {
    padding: 10px 8px;
  }
  footer .contact form .leftInp {
    margin-left: 32px;
  }
  footer .contact form textarea {
    margin-top: 20px;
    border: none;
    width: 100%;
    border-radius: 15px;
    height: 140px;
  }
  footer .contact form textarea::-moz-placeholder {
    padding: 10px 16px;
  }
  footer .contact form textarea::placeholder {
    padding: 10px 16px;
  }
  footer .contact form .button {
    width: 41%;
    margin: 15px 0 0 0;
    border: none;
    border-radius: 30px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    background-color: #eb4d4b;
    padding-top: 14px;
    transition: 0.5s;
  }
  footer .contact form .button:hover {
    background-color: black;
  }
  footer .subscrib {
    padding: 30px 10px 30px;
    border: 1px solid rgba(102, 102, 102, 0.15);
    text-align: center;
  }
  footer .subscrib .text span {
    font-weight: 500;
    font-size: 16px;
    color: #eb4d4b;
    letter-spacing: 6px;
  }
  footer .subscrib .text h2 {
    font-size: 42px;
    font-weight: 700;
  }
  footer .subscrib .text p {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80px;
    height: 4px;
    background-color: #eb4d4b;
    text-align: center;
    display: inline-block;
  }
  footer .subscrib .icon-text {
    line-height: 30px;
  }
  footer .subscrib .icon-text i {
    font-size: 50px;
    color: #eb4d4b;
  }
  footer .subscrib .icon-text h2 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
  }
  footer .subscrib .icon-text p {
    font-size: 16px;
    color: #666;
    font-weight: 400;
  }
  footer .subscrib .inp {
    position: relative;
  }
  footer .subscrib .inp input {
    height: 50px;
    border-radius: 30px;
    border: 1px solid #e5e5e5;
    width: 80%;
  }
  footer .subscrib .inp input::-moz-placeholder {
    padding: 10px;
  }
  footer .subscrib .inp input::placeholder {
    padding: 10px;
  }
  footer .subscrib .inp .button {
    position: absolute;
    right: 39px;
    top: 4px;
    background-color: #eb4d4b;
    border-radius: 41px;
    width: 28%;
    height: 42px;
    color: white;
  }
}
footer .footer_text_ {
  padding-bottom: 33px;
  position: relative;
  top: 20px;
  font-size: 15px;
}
footer .footer_text_ .footer_text_up,
footer .footer_text_ .footer_text_down {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_text_ .footer_text_up li,
footer .footer_text_ .footer_text_down li {
  list-style-type: none;
  margin-right: 20px;
}
footer .footer_text_ .footer_text_up li a,
footer .footer_text_ .footer_text_down li a {
  text-decoration: none;
  color: gray;
}
footer .footer_text_ .footer_text_up .line,
footer .footer_text_ .footer_text_down .line {
  width: 1px;
  height: 15px;
  background-color: gray;
  position: relative;
  right: 10px;
}
footer .footer_end_ {
  display: none;
}
footer .footer_end_ .accordion .accordion-item .first_accordion .accordion_body .accordion_ul {
  padding: 0;
}
footer .footer_end_ .accordion .accordion-item .first_accordion .accordion_body .accordion_ul li {
  list-style-type: none;
}
footer .footer_end_ .accordion .accordion-item .first_accordion .accordion_body .accordion_ul li a {
  text-decoration: none;
  color: gray;
}
@media only screen and (max-width: 820px) {
  footer .text {
    display: none;
    padding-bottom: 33px;
    position: relative;
    top: 20px;
    font-size: 15px;
  }
  footer .text .textUp,
  footer .text .textDown {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .text .textUp li,
  footer .text .textDown li {
    list-style-type: none;
    margin-right: 20px;
  }
  footer .text .textUp li a,
  footer .text .textDown li a {
    text-decoration: none;
    color: gray;
  }
  footer .text .textUp .line,
  footer .text .textDown .line {
    width: 1px;
    height: 15px;
    background-color: gray;
    position: relative;
    right: 10px;
  }
  footer .accMd {
    padding-bottom: 15px;
    display: block;
  }
  footer .accMd .accordion .accordion-item .accordion-header .accordion-button {
    background-color: rgb(242, 246, 249);
  }
  footer .accMd .accordion .accordion-item .firstAcc .accBody {
    background-color: rgb(242, 246, 249);
  }
  footer .accMd .accordion .accordion-item .firstAcc .accBody ul {
    padding: 0;
  }
  footer .accMd .accordion .accordion-item .firstAcc .accBody ul li {
    list-style-type: none;
  }
  footer .accMd .accordion .accordion-item .firstAcc .accBody ul li a {
    text-decoration: none;
    color: gray;
  }
}
footer .secondFooter {
  background-color: #151515;
}
footer .secondFooter .box {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .secondFooter .box .text-img p {
  color: white;
}
footer .secondFooter .box .text-img p a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 391px) {
  footer .secondFooter .box {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .secondFooter .box .text-img p {
    color: white;
  }
  footer .secondFooter .box .text-img p a {
    text-decoration: none;
    color: white;
  }
}

#clipboard .clipboard_background {
  background-image: url(../images/breadcrumb.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clipboard .clipboard_background ul li {
  font-size: 14px;
}
#clipboard .clipboard_background ul li a {
  transition: 0.5s;
  color: #232323;
}
#clipboard .clipboard_background ul li a::after {
  content: " ";
  display: inline;
  border-right: 1px solid #232323;
  margin-left: 5px;
  margin-right: 5px;
}
#clipboard .clipboard_background ul li a:hover {
  color: #eb4d4b;
}

#carts .table-responsive .table .table_body .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#carts .table-responsive .table .table_body .buttons .first {
  color: white;
  background: black;
  border: 1px solid black;
  width: 40px;
  height: 33px;
  text-align: center;
  transition: 0.6s all;
  cursor: pointer;
}
#carts .table-responsive .table .table_body .buttons .first:hover {
  background: #eb4d4b;
}
#carts .table-responsive .table .table_body .buttons .second {
  color: white;
  background: #eb4d4b;
  border: 1px solid black;
  width: 40px;
  height: 33px;
  text-align: center;
  transition: 0.6s all;
  cursor: pointer;
}
#carts .table-responsive .table .table_body .buttons .second:hover {
  background: red;
}

.container .row .accordion .devices_info .cart_info_faq_title {
  display: flex;
  justify-content: space-between;
  height: 40px;
  border: 1px solid #e0dada;
}
.container .row .accordion .cart_info_ {
  display: none;
  border: 1px solid #e5e5e5;
  padding: 20px;
}
.container .row .accordion .cart_info_ .inputs input {
  border: 1px solid rgb(214, 210, 210);
  width: 80%;
  height: 30px;
}
.container .row .accordion .cart_info_ .inputs input::-moz-placeholder {
  font-size: 14px;
}
.container .row .accordion .cart_info_ .inputs input::placeholder {
  font-size: 14px;
}
.container .row .accordion .cart_info_ .inputs button {
  width: 20%;
  font-size: 14px;
  height: 30px;
  border: none;
  background-color: #232323;
  color: white;
  transition: 0.5s;
}
.container .row .accordion .cart_info_ .inputs button:hover {
  background-color: #eb4d50;
}
.container .row .accordion .cart_info_ .first .selection select,
.container .row .accordion .cart_info_ .second .selection select {
  border: 1px solid rgb(214, 210, 210);
  width: 100%;
}
.container .row .accordion .cart_info_ .first .selection select option,
.container .row .accordion .cart_info_ .second .selection select option {
  font-size: 14px;
  color: rgb(160, 157, 157);
}
.container .row .accordion .cart_info_ .third .inputs input {
  border: 1px solid rgb(214, 210, 210);
}
.container .row .accordion .cart_info_ button {
  font-size: 14px;
  height: 40px;
  width: 20%;
  border: none;
  background-color: #232323;
  color: white;
  transition: 0.5s;
}
.container .row .accordion .cart_info_ button:hover {
  background-color: #eb4d50;
}
.container .row .cart-bottom {
  width: 100%;
  height: 30%;
  background-color: white;
  display: flex;
}
.container .row .cart-bottom ul {
  width: 50%;
  line-height: 32px;
  font-size: 17px;
  padding: 0px;
  margin-top: 8px;
}
.container .row .cart-bottom ul li {
  padding: 5;
  display: flex;
  justify-content: flex-end;
  border: 1px solid rgb(221, 220, 220);
}
.container .row .buttons {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.container .row .buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  font-size: 14px;
  height: 40px;
  border: none;
  background-color: #232323;
  color: white;
  transition: 0.5s;
}
.container .row .buttons button:hover {
  background-color: #eb4d50;
}
.container .row .buttons .first_btn {
  background-color: #eb4d50;
}
.container .row .buttons .first_btn:hover {
  background-color: #232323;
}/*# sourceMappingURL=cart.css.map */