* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: absolute;
  z-index: 100;
}
header .big-size-container {
  margin-top: 20px;
  height: 70px;
}
header .big-size-container .row .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .big-size-container .row .logo img {
  text-align: center;
}
header .big-size-container .row nav {
  text-align: center;
}
header .big-size-container .row nav ul {
  position: relative;
}
header .big-size-container .row nav ul li {
  margin-left: 35px;
}
header .big-size-container .row nav ul li a {
  font-size: 18px;
  color: #fff;
  z-index: 1;
}
header .big-size-container .row nav ul li a:hover {
  color: #b4afaf;
}
header .big-size-container .row nav ul li .accesories-menu {
  overflow: hidden;
  position: absolute;
  top: 34px;
  background-color: rgb(252, 252, 252);
  visibility: hidden;
  transition: 0.2s all;
}
header .big-size-container .row nav ul li .accesories-menu .menu {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header .big-size-container .row nav ul li .accesories-menu .menu h5 {
  cursor: pointer;
}
header .big-size-container .row nav ul li .accesories-menu .menu .accesories_menu_ul {
  text-align: center;
}
header .big-size-container .row nav ul li .accesories-menu .menu .accesories_menu_ul li {
  cursor: pointer;
}
header .big-size-container .row nav ul li .accesories-menu .menu .accesories_menu_ul li:hover {
  color: gray;
}
header .big-size-container .row nav ul li .accesories-menu.active {
  visibility: visible;
}
header .big-size-container .row nav ul li .drone-menu {
  overflow: hidden;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 34px;
  left: 50px;
  visibility: hidden;
  transition: 0.2s all;
}
header .big-size-container .row nav ul li .drone-menu .menu {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header .big-size-container .row nav ul li .drone-menu .menu h5 {
  cursor: pointer;
}
header .big-size-container .row nav ul li .drone-menu .menu ul li {
  padding: 2px;
  cursor: pointer;
}
header .big-size-container .row nav ul li .drone-menu .menu ul li:hover {
  color: gray;
}
header .big-size-container .row nav ul li .drone-menu.active {
  visibility: visible;
}
header .big-size-container .row .icons .icon {
  color: white;
  font-size: 26px;
  margin-left: 20px;
  transition: 0.5s;
  cursor: pointer;
}
header .big-size-container .row .icons .icon:hover {
  color: black;
  transition: 0.5s;
}
header .big-size-container .row .icons .count {
  color: white;
  width: 16px;
  height: 16px;
  text-align: center;
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  position: relative;
  right: 9px;
  bottom: 10px;
}
header .big-size-container .row .icons .box {
  height: 300px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 75px;
  right: 0;
  margin: 0 auto;
  background-color: white;
  overflow-y: scroll;
  transition: 1s;
  z-index: 1;
}
header .big-size-container .row .icons .box .box_device li {
  border-bottom: 1px solid black;
  padding: 15px;
  display: flex;
  list-style: none;
}
header .big-size-container .row .icons .box .box_device li .cart_image {
  width: 90px;
  height: 120px;
  border-right: 1px solid black;
}
header .big-size-container .row .icons .box .box_device li .cart_image img {
  padding: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .big-size-container .row .icons .box .box_device li .info {
  padding: 20px;
  margin-left: 25px;
}
header .big-size-container .row .icons .box .box_device li .exitbutton {
  position: absolute;
  right: 12px;
  font-size: 13px;
  cursor: pointer;
}
header .big-size-container .row .icons .box.active {
  visibility: visible;
  opacity: 1;
}
header .big-size-container .row .search_input_large {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 70%;
  right: 5%;
  transition: 0.3s all;
}
header .big-size-container .row .search_input_large .icon_search {
  position: absolute;
  top: 0px;
  right: 3px;
}
header .big-size-container .row .search_input_large.active {
  visibility: visible;
  opacity: 1;
}
header .big-size-container .row .user_registration {
  right: 8%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: -moz-max-content;
  height: max-content;
  background-color: rgb(255, 255, 255);
  padding: 0px 30px;
  transition: 0.3s all;
}
header .big-size-container .row .user_registration .language {
  line-height: 0;
}
header .big-size-container .row .user_registration .language .image {
  margin-bottom: 10px;
}
header .big-size-container .row .user_registration.active {
  visibility: visible;
  opacity: 1;
}
header .mobile-container {
  background-color: white;
}
header .mobile-container .row .user-cart {
  text-align: end;
}
header .mobile-container .row .search_input {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 50px;
  transition: 0.3s all;
}
header .mobile-container .row .search_input .icon_search {
  position: absolute;
  top: 0px;
  right: 3px;
}
header .mobile-container .row .search_input.active {
  visibility: visible;
  opacity: 1;
}
header .mobile-container .row .user_mobile_registration {
  text-align: start;
  top: 3%;
  right: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: -moz-max-content;
  height: max-content;
  background-color: rgb(255, 255, 255);
  padding: 0px 30px;
  transition: 0.3s all;
}
header .mobile-container .row .user_mobile_registration .language {
  line-height: 0;
}
header .mobile-container .row .user_mobile_registration .language .image {
  margin-bottom: 10px;
}
header .mobile-container .row .user_mobile_registration.active {
  visibility: visible;
  opacity: 1;
}
header .mobile-menu {
  overflow: hidden;
  position: relative;
  top: -34px;
  background-color: rgb(255, 255, 255);
  width: 0px;
  height: 100vh;
  transition: 1s;
}
header .mobile-menu ul {
  padding: 10px;
}
header .mobile-menu ul li {
  padding: 10px;
}
header .mobile-menu ul li a {
  color: black;
}
header .mobile-menu ul li a i.active {
  transform: rotate(180deg);
}
header .mobile-menu ul .acs-icon {
  display: none;
}
header .mobile-menu ul .acs-icon.active {
  display: block;
}
header .mobile-menu ul .drone-icon {
  display: none;
}
header .mobile-menu ul .drone-icon.active {
  display: block;
}
header .mobile-menu.active {
  position: relative;
  width: 200px;
  height: 100vh;
  top: -34px;
  background-color: rgb(255, 255, 255);
  transition: 1s;
}

@media screen and (max-width: 391px) {
  #base {
    top: 70px;
  }
}
#base:hover .right {
  opacity: 1;
}
#base:hover .left {
  opacity: 1;
}
#base .right {
  cursor: pointer;
  width: 33px;
  height: 33px;
  padding: 4px 10px;
  position: absolute;
  top: 300px;
  right: 25px;
  z-index: 2;
  background-color: #eb4d4b;
  transition: 0.3s;
  opacity: 0;
}
#base .right:hover {
  background-color: #333;
}
#base .right i {
  color: white;
}
#base .left {
  cursor: pointer;
  width: 33px;
  height: 33px;
  padding: 4px 10px;
  position: absolute;
  top: 300px;
  left: 25px;
  z-index: 2;
  background-color: #eb4d4b;
  transition: 0.3s;
  opacity: 0;
}
#base .left:hover {
  background-color: #333;
}
#base .left i {
  color: white;
}
#base .fastDrone {
  position: relative;
}
#base .fastDrone .droneImage {
  position: absolute;
  width: 100%;
  cursor: pointer;
}
#base .fastDrone .droneImage img {
  width: 100%;
}
@media screen and (max-width: 391px) {
  #base .fastDrone .droneImage img {
    content: url("../images/ResponsiveDrone1.png");
    width: 100%;
  }
}
#base .fastDrone .droneInfo {
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 120px;
  width: 50%;
  color: white;
  overflow: hidden;
}
@media screen and (max-width: 391px) {
  #base .fastDrone .droneInfo {
    width: 100%;
    position: absolute;
    top: 180px;
    left: 0;
    text-align: center;
  }
}
#base .fastDrone .droneInfo .title-text {
  width: 80%;
}
@media screen and (max-width: 391px) {
  #base .fastDrone .droneInfo .title-text {
    width: 100%;
  }
}
@media screen and (max-width: 821px) {
  #base .fastDrone .droneInfo .title-text {
    padding-top: 20px;
  }
}
@media screen and (max-width: 391px) {
  #base .fastDrone .droneInfo .title-text h2 {
    font-size: 18px;
  }
}
#base .fastDrone .droneInfo .title-text h1 {
  padding: 8px 0;
  font-size: 75px;
}
@media screen and (max-width: 821px) {
  #base .fastDrone .droneInfo .title-text h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 391px) {
  #base .fastDrone .droneInfo .title-text h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 391px) {
  #base .fastDrone .droneInfo .title-text p {
    display: none;
  }
}
#base .fastDrone .droneButton button {
  border-radius: 20px;
  color: white;
  border: none;
  background-color: #eb4d4b;
}
@media screen and (max-width: 391px) {
  #base .fastDrone .droneButton button {
    font-size: 10px;
    margin-bottom: 30px;
  }
}
#base .fastDrone .droneButton button:hover {
  background-color: #333;
}
#base .underwaterDrone {
  position: relative;
}
#base .underwaterDrone .droneImage {
  cursor: pointer;
}
#base .underwaterDrone .droneImage img {
  width: 100%;
}
@media screen and (max-width: 391px) {
  #base .underwaterDrone .droneImage img {
    content: url("../images/ResponsiveDrone2.png");
    width: 100%;
  }
}
#base .underwaterDrone .droneInfo {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 0;
  width: 50%;
  color: white;
  overflow: hidden;
}
@media screen and (max-width: 391px) {
  #base .underwaterDrone .droneInfo {
    width: 100%;
    position: absolute;
    top: 180px;
    text-align: center;
  }
}
#base .underwaterDrone .droneInfo .title-text {
  width: 70%;
}
@media screen and (max-width: 391px) {
  #base .underwaterDrone .droneInfo .title-text {
    width: 100%;
  }
}
@media screen and (max-width: 821px) {
  #base .underwaterDrone .droneInfo .title-text {
    padding-top: 18px;
  }
}
@media screen and (max-width: 391px) {
  #base .underwaterDrone .droneInfo .title-text h2 {
    font-size: 18px;
  }
}
#base .underwaterDrone .droneInfo .title-text h1 {
  padding: 8px 0;
  font-size: 60px;
}
@media screen and (max-width: 821px) {
  #base .underwaterDrone .droneInfo .title-text h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 391px) {
  #base .underwaterDrone .droneInfo .title-text h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 391px) {
  #base .underwaterDrone .droneInfo .title-text p {
    display: none;
  }
}
#base .underwaterDrone .droneButton button {
  border-radius: 20px;
  color: white;
  border: none;
  background-color: #eb4d4b;
}
@media screen and (max-width: 391px) {
  #base .underwaterDrone .droneButton button {
    font-size: 10px;
    margin-bottom: 30px;
  }
}
#base .underwaterDrone .droneButton button:hover {
  background-color: #333;
}

#ImportInfo .animeIcon .image {
  display: flex;
  justify-content: center;
}
#ImportInfo .animeIcon .image img {
  transition: 0.6s;
}
#ImportInfo .animeIcon .image:hover img {
  transform: rotateY(360deg);
}
#ImportInfo .animeIcon .title-text {
  text-align: center;
}
#ImportInfo .animeIcon .title-text p {
  color: gray;
}
@media screen and (max-width: 391px) {
  #ImportInfo .animeIcon {
    display: flex;
  }
  #ImportInfo .animeIcon .title-text {
    margin-left: 20px;
    text-align: left;
  }
  #ImportInfo .animeIcon .image {
    width: 60px;
    height: 60px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
  }
  #ImportInfo .animeIcon .image img {
    width: 100%;
    height: 100%;
    transition: 0.6s;
  }
}

#About {
  padding: 48px;
}
#About .image img {
  width: 100%;
  height: 100%;
}
#About .about .title {
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #eb4d4b;
}
#About .about .home_title .home-title {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 600;
  color: #232323;
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
#About .about .home_title .home-title::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 4px;
  background: #eb4d4b;
  bottom: 0;
}
#About .about .desc {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  letter-spacing: 0.5px;
  line-height: 24px;
}
#About .about ::marker {
  color: red;
}
#About .about .view_more {
  margin-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 20px;
}
#About .about .view_more:hover {
  background-color: black;
  border: 1px solid black;
}

#products {
  background-image: url(../images/testimonialbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px;
}
#products .title .subtitle {
  font-size: 26px;
  margin: 0;
  margin-bottom: 12px;
  color: #eb4d4b;
}
#products .title .home {
  font-size: 34px;
  position: relative;
}
#products .title .home .home-title:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 4px;
  background: #eb4d4b;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
#products .item {
  display: flex;
  justify-content: center;
}
#products .item .detail {
  position: relative;
  text-align: left;
  background: #fff;
  padding: 65px 50px 40px;
  margin-top: 60px;
}
#products .item .detail .image {
  max-width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #eb4d4b;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: absolute;
  top: -60px;
  left: 50px;
}
#products .item .user_description {
  margin-bottom: 15px;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #666;
}
#products .item .user_detail .user_name {
  position: relative;
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #232323;
}
#products .item .user_detail .user_designation {
  font-size: 14px;
  font-weight: 400;
  padding-left: 6px;
  letter-spacing: 0.5px;
  color: #eb4d4b;
  display: inline-block;
}

#latest .title .subtitle {
  font-size: 26px;
  margin: 0;
  margin-bottom: 12px;
  color: #eb4d4b;
}
#latest .title .home {
  font-size: 34px;
  position: relative;
}
#latest .title .home .home-title:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 4px;
  background: #eb4d4b;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
#latest .latest_ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#latest .latest_ul .latest_ul_li {
  border: 1px solid rgb(238, 235, 235);
  padding: 5px;
  margin: 1px;
  display: inline-block;
}
#latest .latest_ul .latest_ul_li:hover {
  background-color: #f3ebeb;
}
#latest .latest_ul .latest_ul_li a {
  padding: 20px;
}
#latest .device {
  margin-bottom: 110px;
  padding: 11px;
  height: 400px;
  position: relative;
}
#latest .device .image {
  height: 100%;
  position: relative;
  cursor: pointer;
}
#latest .device .image img {
  width: 100%;
  height: 100%;
}
#latest .device .image .first {
  position: absolute;
  opacity: 1;
  transition: 1s all;
}
#latest .device .image .second {
  position: absolute;
  opacity: 0;
  transition: 1s all;
}
#latest .device .image:hover .first {
  opacity: 0;
}
#latest .device .image:hover .second {
  opacity: 1;
}
#latest .device .rating {
  position: absolute;
  color: rgb(230, 255, 5);
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#latest .device .buttons {
  position: absolute;
  left: auto;
  right: 16px;
  top: 10px;
  display: block;
}
#latest .device .buttons .allbutton {
  border: 1px solid black;
  padding: 6px;
  border-radius: 50%;
  margin-top: 5px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
  cursor: pointer;
}
#latest .device .allbutton.active {
  opacity: 1;
}
#latest .caption {
  padding: 10px;
}
#latest .caption .add_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb4d4b;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -62px;
  transition: 0.5s all;
  overflow: hidden;
  opacity: 0;
  height: 35px;
  width: 120px;
  cursor: pointer;
}
#latest .caption .add_cart.active {
  opacity: 1;
}
#latest .caption .description {
  margin-bottom: 10px;
}
#latest .caption .price {
  color: #eb4d4b;
  font-size: 16px;
  margin-bottom: 5px;
  transition: all 0.4s;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */