@import "./header";
@import "./footer";
@import "./clipboard";

body {
  font-family: "Poppins";
}

#collection {
  margin-top: 40px;
  .left {
    .collection_ctgr {
      padding-bottom: 5px;
      border: 1px solid #dfdfdf;

      h5 {
        color: #555;
        background-color: #f5f5f5;
        padding: 10px;
      }
    }

    .collection_refine {
      margin-top: 30px;
      border: 1px solid #dfdfdf;

      h5 {
        color: #555;
        background-color: #f5f5f5;
        padding: 10px;
      }
      .buttons {
        transition: 0.7s;
        border: none;
        margin-top: 20px;
        margin: 20px 10px 15px;
        border-radius: 0;
        background-color: #232323;
        height: 34px;
        display: flex;
        justify-content: center;

        &:hover {
          background-color: #eb4d4b;
        }
      }

      .items {
        label {
          color: #888;
          margin-left: 3px;
        }

        padding-left: 10px;
      }
    }
    .collections_lastsellers {
      margin-top: 403px;
    }
    .collections_bestsellers {
      margin-top: 30px;
    }
    .collections_bestsellers,
    .collections_lastsellers {
      border: 1px solid #dfdfdf;

      h5 {
        color: #555;
        background-color: #f5f5f5;
        font-size: 18px;
        font-weight: 500;
        padding: 10px;
      }

      .device {
        .image {
          padding: 10px;
          display: flex;
          width: 85px;
          height: 85px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .text {
          margin-left: 10px;

          span {
            display: block;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
          }

          .red {
            color: #eb4d4b;
            font-weight: 500;
          }
          .price {
            display: flex;
            .line {
              margin-left: 3px;
              color: #888;
              text-decoration: line-through;
            }
          }
        }
      }
    }

    .big_discount {
      margin-top: 30px;
      .image {
        position: relative;
        img {
          width: 100%;
          position: absolute;
        }
        .img {
          width: 0;
          height: 0;
          top: 160px;
          left: 145px;
          transition: 0.5s all;
          position: absolute;
        }
        &:hover {
          .img {
            width: 260px;
            height: 360px;
            top: 0;
            left: 0;
            transform: rotateZ(180deg);
            background-color: #9c96963f;
          }
        }
      }
    }

    .showPages {
      margin-top: 30px;
      padding: 8px 16px;
      background-color: #f5f5f5;
      p {
        padding-top: 14px;
      }
    }
  }
  .layout {
    background-color: rgba(230, 230, 230, 0.493);
    margin: 0 10px;

    .icons {
      padding: 20px 0 0 25px;
      overflow: hidden;

      .grid {
        &:hover i {
          transform: rotateY(360deg);
        }

        i {
          overflow: hidden;
          color: #333;
          padding: 2px 6px;
          font-size: 20px;
          cursor: pointer;
          transition: 0.3s;
          animation-duration: 0.2s;

          @media screen and (max-width: 821px) {
            font-size: 18px;
          }
        }
      }

      p {
        margin-left: 6px;

        a {
          color: #333;
          text-decoration: none;
          transition: 0.3s;

          &:hover {
            color: #eb4d4b;
          }
        }
      }
    }
    .sort_show {
      align-items: center;

      div {
        @media screen and (max-width: 391px) {
          margin-bottom: 17px;
        }

        label {
          margin: 0 10px 0 18px;
          font-size: 15px;
          color: #333;

          @media screen and (max-width: 821px) {
            font-size: 13px;
          }
        }

        select {
          border: 1px solid lightgray;
          color: gray;
          font-size: 15px;
          padding: 2px;

          @media screen and (max-width: 821px) {
            font-size: 12px;
          }

          &:focus {
            outline: none;
          }

          option {
            color: gray;
          }
        }
      }
    }
  }
  .first_page {
    .right {
      .device {
        padding: 0px;
        position: relative;
        .image {
          height: 270px;
          position: relative;
          a {
            width: 100%;
            .first {
              width: 100%;
              height: 100%;
              position: absolute;
              opacity: 1;
              transition: 1s all;
            }
            .second {
              width: 100%;
              height: 100%;
              position: absolute;
              opacity: 0;
              transition: 1s all;
            }
          }
          &:hover {
            .first {
              opacity: 0;
            }
            .second {
              opacity: 1;
              transform: rotateY(180deg);
            }
          }
          cursor: pointer;
        }
        .rating {
          position: absolute;
          bottom: 103px;
          left: 50%;
          transform: translateX(-50%);
          .yellow {
            color: yellow;
          }
          @media screen and (max-width: 391px) {
            & {
              bottom: 110px;
            }
          }
          @media screen and (max-width: 821px) {
            & {
              bottom: 110px;
            }
          }
        }
        .buttons {
          position: absolute;
          left: auto;
          right: 13px;
          top: 0px;
          display: block;
          .allbutton {
            border: 1px solid black;
            padding: 8px;
            border-radius: 50%;
            margin-top: 5px;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s all;
            cursor: pointer;
            &:hover {
              background-color: #eb4d4b;
            }
          }
        }
        .allbutton.active {
          opacity: 1;
        }
        .caption {
          padding: 10px;
          .add_cart {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eb4d4b;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 20px;
            transition: 0.5s all;
            overflow: hidden;
            opacity: 0;
            height: 0px;
            width: 120px;
            cursor: pointer;
          }
          .add_cart.active {
            height: 34px;
            opacity: 1;
          }
        }
        .description {
          margin-bottom: 10px;
        }
        .price {
          color: #eb4d4b;
          font-size: 16px;
          margin-bottom: 5px;
          transition: all 0.4s;
          opacity: 1;
        }
      }
    }
    @media screen and (max-width: 391px) {
      .device {
        .buttons{
          .allbutton{
            bottom: -139px;
          }
        }
      }
    }
  }
}

.second_page {
  display: none;
  .devices {
    .device {
      position: relative;
      top: 15px;
      overflow: hidden;
      margin: 15px 0;

      .device_icons {
        position: absolute;
        z-index: 1;
        left: 248px;
        top: 0;

        @media screen and (max-width: 821px) {
          & {
            left: 25px;
          }
        }

        @media screen and (max-width: 391px) {
          & {
            top: 2px;
            right: 6px;
          }
        }

        div {
          cursor: pointer;
          display: none;
          width: 36px;
          height: 36px;
          margin-top: 10px;
          background-color: white;
          text-align: center;
          border-radius: 50%;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
          transition: 0.5s;

          @media screen and (max-width: 821px) {
            & {
              width: 33px;
              height: 33px;
            }
          }

          @media screen and (max-width: 391px) {
            & {
              width: 15px;
              height: 15px;
              margin-top: 7px;
            }
          }

          &:hover {
            background-color: #eb4d4b;
            color: white;
          }

          i {
            margin-top: 10px;
            font-size: 20px;

            @media screen and (max-width: 821px) {
              & {
                font-size: 15px;
              }
            }

            @media screen and (max-width: 391px) {
              & {
                position: relative;
                top: -8px;
                font-size: 7px;
                margin-top: 0;
              }
            }
          }
        }
      }

      .image {
        overflow: hidden;
        position: relative;
        width: 289.98px;
        height: 289.98px;

        @media screen and (max-width: 821px) {
          & {
            width: 230px;
            height: 230px;
          }
        }

        @media screen and (max-width: 391px) {
          & {
            width: 180px;
            height: 180px;
          }
        }

        .first {
          object-fit: contain;
          position: absolute;
          width: 100%;
          height: 100%;
          transition: 0.7s;
          cursor: pointer;
        }

        .second {
          position: absolute;
          opacity: 0;
          width: 100%;
          height: 100%;
          transition: 0.7s;
        }
        &:hover {
          .first {
            opacity: 0;
          }
          .second {
            opacity: 1;
            transform: rotateY(180deg);
          }
        }
      }

      .icons {
        position: absolute;
        top: 260px;
        font-size: 13px;
        width: 100%;
        left: 110px;
        
        @media screen and (max-width: 821px) {
          & {
            top: 195px;
            width: 100%;
            left: 77px;
            z-index: 2;
          }
        }
     

        @media screen and (max-width: 391px) {
          & {
            top: 155px;
            width: 100%;
            left: 56px;
            z-index: 2;
          }
        }

        i {
          color: #b6b6b6;

          @media screen and (max-width: 821px) {
            & {
              font-size: 16px;
            }
          }

          @media screen and (max-width: 391px) {
            & {
              font-size: 10px;
            }
          }
        }

        .yellow {
          color: #fec42d;
        }
      }

      .description {
        padding: 13px;
        position: relative;

        .title {
          cursor: pointer;

          @media screen and (max-width: 821px) {
            & {
              font-size: 13px;
            }
          }

          @media screen and (max-width: 821px) {
            & {
              font-size: 13px;
            }
          }
        }

        .about {
          color: gray;
        }

        .price {
          display: flex;

          cursor: pointer;

          .notPrice {
            margin: 0 7px;
            color: #787878;
            text-decoration: initial;
          }
          .prices {
            font-weight: 600;
            color: #eb4d4b;

            @media screen and (max-width: 821px) {
              & {
                font-size: 14px;
              }
            }

            @media screen and (max-width: 391px) {
              & {
                font-size: 14px;
              }
            }
          }
        }

        .add_cart {
          opacity: 1;
          position: absolute;
          top: 135px;
          left: 20px;
          background-color: #eb4d4b;
          height: 37px;
          cursor: pointer;
          transition: 0.5s;

          @media screen and (max-width: 821px) {
            & {
              width: 78px;
              height: 20px;
             position: static;
            }
          }

          @media screen and (max-width: 391px) {
            & {
              width: 78px;
              height: 20px;
             position: static;
            }
          }

          &:hover {
            background-color: #3b3535;
          }

          p {
            color: rgb(240, 233, 233);
            padding: 6px 20px;

            @media screen and (max-width: 821px) {
              & {
                padding: 6px 17px;
                font-size: 10px;
              }
            }

            @media screen and (max-width: 821px) {
              & {
                padding: 3px 10px;
                font-size: 8px;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 391px) {
      .device {
        .buttons{
          .allbutton{
            bottom: -139px;
          }
        }
      }
    }
  }

}

.collections_accordion {
  .collect_title {
    padding: 5px;
    background-color: #dfdbdb;
    display: flex;
    justify-content: space-between;

    i.active {
      transform: rotate(180deg);
    }
  }
  .collect_info {
    display: none;
  }
}
